// global styles go in here. 
// When you start writing styles for your individual components you'll have to start importing them
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto:400,500');
$br: 5px;
$shadow: 0 8px 17px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
$roboto: 'Roboto', sans-serif;
$robotoSlab: 'Roboto Slab', serif;
$dark: rgba(0,0,0,.7);
$Blue: #0872c9;
strong {
	font-weight:bold
}
html {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edf3f4+34,d5cee0+100 */
	background: #edf3f4; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #edf3f4 34%, #d5cee0 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  #edf3f4 34%,#d5cee0 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center,  #edf3f4 34%,#d5cee0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf3f4', endColorstr='#d5cee0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-size: cover;
	background-repeat: no-repeat;
	height:100%;
	font-family: $roboto;
}
.container {
	width:500px;
	margin:0 auto;
}
.strike {
	text-decoration: line-through;
}
h1 {
	color: rgba(255,255,255,.9);
	background-color: $dark;
	font-family: $robotoSlab;
	font-weight: bold;
	padding:5px 15px;
	border-top-right-radius: $br;
	border-top-left-radius: $br;
	margin:0;
}
.todoWrapper {
	width:90%;
	margin:100px auto 0;
	.todoHeader {
		height:5px;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2fd0ed+0,0872c9+45,711fe2+100 */
		background: #2fd0ed; /* Old browsers */
		background: -moz-linear-gradient(left,  #2fd0ed 0%, #0872c9 45%, #711fe2 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  #2fd0ed 0%,#0872c9 45%,#711fe2 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  #2fd0ed 0%,#0872c9 45%,#711fe2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2fd0ed', endColorstr='#711fe2',GradientType=1 ); /* IE6-9 */
		margin-bottom:5px;
		box-shadow: $shadow;
	}
	.todoContainer {
		background-color:white;
		border-bottom-left-radius: $br;
		border-bottom-right-radius: $br;
		box-shadow: $shadow;
		padding:15px;
	}
}
.inputForm {
	input {
		border-top: none;
		border-left: none;
		border-right:none;
		border-bottom: 1px solid $Blue;
		width:80%;
		float:left;
		display: inline-block;
		padding:5px;
		box-sizing:border-box;
		outline:none;

		&:focus {
			border-bottom: 1px dashed $Blue;
		}
	}
	button {
		width:19%;
		display:inline-block;
		background-color: transparent;
		border:none;
		color:$Blue;
		padding: 5px;
		text-transform: uppercase;
		outline: none;
		
		&:hover {
			cursor: pointer;
		}

	}
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.todoList {
	padding: 0;

	li {
		list-style: none;
		margin: none;
		overflow:hidden;
		border-bottom:1px solid rgba(0,0,0,.04);
		transition: all 0.5s ease;
		&:hover  {
			.icons.delete {
				visibility: visible;
  				opacity: 1;
			}
		}

		.icons {
			display:inline-block;
			width:9%;
			transition: all 0.5s ease;
			border-radius: $br;
			padding:3px;
			box-sizing:border-box;
			position: relative;
			top:-9px;
			font-size:20px;
			text-align: center;

			&:hover {
				cursor:pointer;
				background-color: rgba(0,0,0,.05);
			}
		}
		.icons.delete {
			visibility: hidden;
			-webkit-transition: opacity 300ms, visibility 300ms;
			transition: opacity 300ms, visibility 300ms;
			opacity: 0;
			color:red;


		}

		p {
			display:inline-block;
			width:75%;
			color: rgba(0,0,0,.5);
			padding-left:10px;
			border-box:box-sizing;

			small {
				display:block;
			}
		}
	}

}